.carousel {
  margin: 0 auto;
  position: relative;
  &-scroller {
    overflow: hidden; min-height: 80px;
  }
  &-inner {
    display: table; table-layout: fixed;
    .item {
      display: table-cell; text-align: center;
      img { max-width: 100%; max-height: 100%; }
    }
  }
  &-next {
    position: absolute; right: 0; top: 50%; margin-top: -.5em;
    color: #e0e0e0; font-size: 4em; line-height: 1;
    display: none;
    &:hover {
      color: darken(#e0e0e0, 20%);
    }
  }
  &:hover &-next {
    display: block;
  }
  &-prev {
    right: auto;
    left: 0;
  }
  &-pager {
    position: absolute; left: 50%; bottom: 3px;
    a {
      display: inline-block; @include size(10px); border-radius: 50%; box-shadow: 0 0 5px rgba(0, 0, 0, .2);
      background-color: #fff; margin: 1px 8px;
      &.active {
        background-color: $brand-primary;
        @include size(12px); margin: 0 7px; box-shadow: none;
      }
    }
  }
}
