
.cat-tree {
  position: relative;
  .tree-label {
    @include position(absolute, 0 0 null 0);
    line-height: 32px; box-sizing: content-box;
    padding: 0 12px;
  }
}
.cat-box {
  position: absolute; top: 32px; left: 0; right: 0; margin-left: -1px; margin-right: -1px;
  border: solid 1px $input-border-focus; @include border-bottom-radius($input-border-radius);
  background-color: #fff; z-index: 1000;
  padding: 5px;
  display: none;
  .search-wrap { padding: 5px 0; }
  .tree-wrap {
    max-height: 200px; overflow-y: auto;
  }
}
