
$checkable-cls: checkable;

@keyframes checkbox-bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
.#{$checkable-cls} {
  font-weight: normal; // reset bootstrap label

  [type=checkbox], [type=radio] {
    position: absolute;
    // Hidden checkboxes don't receive events in IE version below 9
    opacity: 0;

    + span {
      @include icon-settings;
      color: #ddd8ce;
      font-size: 1.2em;
      vertical-align: -7%;
      display: inline-block; /* enable animation */
      &::after {
        content: $icon-var-checkbox;
      }
    }
    &:hover + span, &:checked + span  { color: $brand-primary; }
    &:checked + span { animation: checkbox-bounce .3s; }
    &:checked + span::after { content: $icon-var-checkbox-checked; }
    &:disabled + span {
      color: #eee;
    }
  }
  [type=radio] {
    + span::after { content: $icon-var-radio; }
    &:checked + span::after { content: $icon-var-radio-checked; }
  }

  &+ .#{$checkable-cls} { margin-left: 10px; }
}
