
@import "mixins";
@import "backend/variables";

.space-before { margin-left: .6em; }

.slide-in {
  @include position(fixed, 0 null 0 101%); z-index: 9;
  width: 100%; background: hsla(0, 0%, 0%, .5);
  transition: .5s;
  &.in {
    left: 0;
  }
}
.trans-center {
  @include position(absolute, 50% null null 50%);
  transform: translate(-50%, -50%);
}


html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -30px;
  padding: 0 0 30px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  line-height: 30px; text-align: center;
}



@import "components/icon-base";
@import "backend/icon";

@import "components/rating";
@import "components/checkable";
// include components
.inter-select select + select { margin-top: 10px; }
@media (min-width: $screen-sm-min) {
  .inter-select select + select { margin-top: 0; margin-left: 10px; }
}

@import "components/uploader";
@import "components/tabs-select";

@import "components/cat-tree";
@import "components/carousel";


