
$font-family-sans-serif: Avenir, Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, sans-serif;
$brand-primary: #2c8dfb;
$text-color: #434343;
//$link-color: #222;
//$link-hover-color
$link-hover-decoration: none;

// table
$table-bg-active: #f0f0f0;

// form
//$input-border-focus: $brand-primary;



// icons
$icon-font: 'present-icon';
$icon-var-star: "\e600";
$icon-var-star-o: "\e601";
$icon-var-checkbox: "\e602";
$icon-var-checkbox-checked: "\e603";
$icon-var-radio: "\e604";
$icon-var-radio-checked: "\e605";
$icon-var-image: "\e60d";


@import "../../vendor/bootstrap/bootstrap/variables";


